.wrapper{
    margin-top: 10rem;
    max-width: 40rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: fade-up 0.3s ease-in-out;
}

.description{
    text-align: center;
    font-size: 20px;

}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

@keyframes fade-up {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}