.wrapper{
    
    width: 50rem;
    max-width: 100%;
    column-width: 10rem;
    place-items: center;
    padding: 10px 0;
    animation: fade-up 0.5s ease-in-out;
    -webkit-animation: fade-up 0.5s ease-in-out;
}

.image_wrapper{
    position: relative;
    border-radius: 8px;
    width: 100%;
    margin-top: 2rem;
    background-color: var(--accent-6);
    transition: 0.3s ease-in-out;
}

.image_wrapper:first-child{
    margin-top: 0;
}

.video{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.image,.video{
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.video_player{
    position: relative;
    height: 90%;
    width:30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_player_video{
    max-width: 100%;
    height: 100%;
}

.video_player_close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: var(--accent-1);
    cursor: pointer;
}

.skeleton_wrapper{
   background-color: var(--accent-6);
    animation: skeleton 2s linear infinite;
}

@keyframes fade-up {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes skeleton {
    50%{
        opacity: 0.5;
    }
}